.form-text-field input{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ff99c6;
  transition: box-shadow 0.3s, border 0.3s;
}
.form-text-field input:focus{
  border: solid 1px #c22069;
  box-shadow: 0 0 5px 1px #f21377;
}
.form-submit-button input{
    padding: 1em;
    cursor: pointer;
    background: #c22069; 
    border: none;
    color: white;
}
input:active, input:focus{
    border: 0;
}
.form-login input{
    width: 25em;
    margin: 10px;
}
.alert{
    transition: top 0.6s;
    top: 320px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 200px;
    padding:10px;
    position: absolute;
    z-index: -1;
}

.danger-alert{
    top: 375px;
    background-color: #f34795;
}